<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.midriss">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activties.QuestionActivity" />
        <activity android:name=".ui.activties.ResultActivity" />
        <activity android:name=".ui.activties.ExamActivity" />
        <activity android:name=".ui.activties.TimeActivity" />
        <activity android:name=".ui.activties.DataEnterActivity" />
        <activity android:name=".ui.activties.ExamsActivity" />
        <activity android:name=".ui.activties.LessonsActivity" />
        <activity android:name=".ui.activties.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>